<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, suscipit. Modi rem accusamus quasi nobis, laboriosam nihil, possimus aut quaerat perspiciatis inventore, omnis nesciunt totam delectus eaque aliquid impedit ratione rerum distinctio unde placeat minus optio vitae! Eius, in nostrum.</p>
    </div>
</div>