<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/med1.jpg" class="d-block w-100 imgBanner" alt="">
        </div>
        <div class="carousel-item">
            <img src="/img/med2.jpg" class="d-block w-100 imgBanner" alt="">
        </div>
        <div class="carousel-item">
            <img src="/img/med3.jpg" class="d-block w-100 imgBanner" alt="">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<main class="container">

    <div class="jumbotron mt-4">
        <h1 class="display-4">Hospoint</h1>
        <p class="lead">No esperes mas, reserva tus turnos medicos aca!!! Contamos con la mas amplia gama de sanatorios
            y hospitales. Podes filtrar tus busquedas por especialidad, cercania, obra social y mucho mas.</p>
        <hr class="my-4">
        <p>Lo unico que tenes que hacer es inscribirte y empezar a reservar tus turnos, no lo dudes!!!</p>
        <a href="https://google.com" class="btn btn-primary b">Inscribite</a>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Turnos reservados:</h1><br>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action list-group-item-dark">
                            <div class="row">
                                <div class="col-10"><a href="#" class="nombreColumna">Otorrino</a></div>
                                <div class="col-2 text-right">
                                    <a href="#" class="icono"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="icono trash"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action list-group-item-dark">
                            <div class="row">
                                <div class="col-10"><a href="#" class="nombreColumna">Dermatologo</a></div>
                                <div class="col-2 text-right">
                                    <a href="#" class="icono"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="icono trash"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action list-group-item-dark">
                            <div class="row">
                                <div class="col-10"><a href="#" class="nombreColumna">Nutricionista</a></div>
                                <div class="col-2 text-right">
                                    <a href="#" class="icono"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="icono trash"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action list-group-item-dark">
                            <div class="row">
                                <div class="col-10"><a href="#" class="nombreColumna">Oculista</a></div>
                                <div class="col-2 text-right">
                                    <a href="#" class="icono"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="icono trash"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action list-group-item-dark">
                            <div class="row">
                                <div class="col-10"><a href="#" class="nombreColumna">Medico Clinico</a></div>
                                <div class="col-2 text-right">
                                    <a href="#" class="icono"><i class="fas fa-eye"></i></a>
                                    <a href="#" class="icono trash"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <p class="lead">Recuerde cancelar el turno si no lo quiere utilizar
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="jumbotron">
                <h1 class="display-4">Info de contacto</h1>
                <p class="lead">Aqui podes encontrar toda la informacion del contacto del usuario</p>
                <hr class="my-4">
                <p>Tambien puede aparecer botones para editar y cambiar la informacion.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Ver Mas</a>
            </div>
        </div>
    </div>

</main>